*,
*::before,
*::after {
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: space-evenly;
}
body {
  margin: 0;
}
.photo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #000000, #00000000);
}

.fade {
  border-radius: 1rem;
  display: none;
  width: 80%; /* Adjust the width as needed */
  height: 80%; /* Adjust the height as needed */
  object-fit: cover; /* Preserve aspect ratio while covering the container */
  animation: fadeInOut 4s 2; /* Set the iteration count to 2 */
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}
nav {
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
